.right-corner{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
}

.edit{
    margin-right: 0.5rem;
}

.edit:hover{
    color: rgb(0, 68, 255);
}

.trash:hover{
    color: red;
}